bcrypt         
blinker                
click                  
colorama            
Flask                  
Flask-Bcrypt           
Flask-MySQL            
Flask-MySQLdb          
itsdangerous           
Jinja2                 
MarkupSafe             
mysql-connector-python 
mysqlclient            
pip                    
pooling                
PyMySQL                
setuptools             
Werkzeug               
wrapt                  
zenutils               